.title {
  height: 40px;
  line-height: 40px;
  font-size: 28px;
  color: #333;
  text-align: center;
}
.box {
  width: 500px;
  height: 200px;
  background-color: #eee;
}
.dialog {
  width: 700px;
  height: 100px;
  background-color: #000;
  display: none;
}
button {
  width: 200px;
  height: 300px;
  display: block;
}